.bigbox {
    display: inline-flex;
}
.smallbox {
    padding-left: 2vw;
    display: block;
}
.loginpage {
    font-weight: bold;
    color: black;
    font-size: 400%;
    text-shadow: -2px -2px 0 #3399ff, -2px 2px 0 #3399ff, 2px -2px 0 #3399ff, 2px 2px 0 #3399ff;
    outline: 0.5vw white;
    width: 52vw;
}
.entertext {
    font-size: 200%;
    font-weight: bold;
    text-shadow: -1px -1px 0 #3399ff, -1px 1px 0 #3399ff, 1px -1px 0 #3399ff, 1px 1px 0 #3399ff;
}
.username {
    font-size: 150%;
    font-weight: bold;
}
.password {
    font-size: 150%;
    font-weight: bold;
}
.exitbutton {
    float: left;
    text-align: center;
    padding: 0.75vw 0.9vw;
    text-decoration: none;
    font-size: 1vw;
    background-color: #ccccff;
    margin-right: 1.6vw;
}
.exitbutton:hover{
    background-color: #b3b3ff;
}
.imgbox {
    height: 40vw;
    width: 27vw;
}
.upform {
    display: block;
}